<a href="https://colab.research.google.com/github/minwoo111111/AI-Python/blob/main/240419.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#2차원 리스트

#1.한줄씩 출력하기
score=[[2,3,6,7],
       [6,2,7,2],
       [2,4,3,3]]

for sc in score:
  print(sc)

[2, 3, 6, 7]
[6, 2, 7, 2]
[2, 4, 3, 3]

In [3]:
#딕셔너리

emails={"alice": "alice@naver.com", "bob": "bob@naver.com", "tom"="tom@naver.com"}

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-3-6e3fa93c1fc8>, line 3)

#비어있는 score 리스트 변수를 사용하여 학생들의 점수를 입력받는다. 모든 학생들의 합계, 총인원수, 평균을 출력해보자. 만약 입력받은 점수가 숫자가 아닌 문자이면 입력을 종료한다. 아래 프로그램 실행 결과를 참고하여 작성해보자.

In [4]:
a="a"
print(type(a))

<class 'str'>

In [16]:
#숫자인지 문자인지 처리할 수 있는 로직 필요

#for문은 반복의 횟수가 정해져있는 거임... 이럴 땐 while 써서 해야
#while 조건식:
    #조건식이 참일 때 반복하여 실행


score=[]

while True:  #while true는 무한반복
  a=(input("점수를 입력하세요"))
  if a.isdigit():  #isgidit이라는 메소드는 숫자인지 판단하는 메소드. 즉 a가 숫자이면 append(a)하여 리스트에 추가하라.
    score.append(int(a))    #이때, input은 문자로 입력되므로, int(a)로 a를 숫자로 형변환 해줘야함. 안 그러면 합계, 평균 등의 연산이 안 됨..
  else:
    break    #isdigit이 아니면, 즉 입력된 i가 숫자가 아니면 반복을 종료해라.

print("입력데이터는: ", score)
print("모든 점수의 합계는 :", sum(score))
print("총 인원수는", len(score))
print("점수의 평균은", sum(score)/len(score))

점수를 입력하세요30
점수를 입력하세요60
점수를 입력하세요70
점수를 입력하세요30
점수를 입력하세요20
점수를 입력하세요20
점수를 입력하세요10
점수를 입력하세요40
점수를 입력하세요70
점수를 입력하세요64
점수를 입력하세요53
점수를 입력하세요22
점수를 입력하세요74
점수를 입력하세요ㅁ
입력데이터는:  [30, 60, 70, 30, 20, 20, 10, 40, 70, 64, 53, 22, 74]
모든 점수의 합계는 : 563
총 인원수는 13
점수의 평균은 43.30769230769231

In [29]:
#심화문법

#1. split&join  <-- 메소드.
#split: 문자열을 특정 구분자로 나누어 리스트로 반환하는 메소드.
#string.split(구분자)

txt="apple#banana#cherry#orange"  #<-이런식으로 특정한 규칙?을 갖고 있지만 "정제되지 않은!" 텍스트가 있으면 이를 #을 구분자로 하여 리스트로 반환할 수 있음
#데이터 전처리에 필요한 명령어임.


#좀 더 활용하기
data = "John,30,Engineer\nAlice,25,Designer\nBob,22,Artist"
lines = data.split("\n")
print(lines)   #이렇게 리스트로 반환한 후

for line in lines:   #반환한 리스트를 또다시 잘라서 정제하기
  fields = line.split(",")
  print("Name:", fields[0], "Age:", fields[1], "Occupation:", fields[2])



#문제1: split the string
#input:apple#banana#cherry#orange
#output:['apple', 'banana', 'cherry', 'orange']

txt="apple#banana#cherry#orange"
print(txt.split("#"))  #이 때, #은 문자열이므로 "#"이라 해야함

['John,30,Engineer', 'Alice,25,Designer', 'Bob,22,Artist']
Name: John Age: 30 Occupation: Engineer
Name: Alice Age: 25 Occupation: Designer
Name: Bob Age: 22 Occupation: Artist
['apple', 'banana', 'cherry', 'orange']

In [26]:
#join: 리스트의 각 요소를 문자열로 반환하고, 주어진 구분자로 결합하여 하나의 **문자열로** 반환
#string.join(시퀀스이름)

name = ("John", "Peter", "Vicky")
x = "#".join(name)   # "#"라는 문자열을 구분자로 결합하여 문자열로 반환.
print(x)

words = ['Hello', 'world', 'this', 'is', 'a', 'test']
sentence = ' '.join(words)
print(sentence)


#문제2. Join the string
#Input : {'Python', 'Java', 'Ruby'}
#Output : Python->Java->Ruby

string={'python', 'java', 'ruby'}
newstring="->".join(string)
print(newstring)

John#Peter#Vicky
Hello world this is a test
python->ruby->java

In [37]:
#list comprehension: 리스트를 쉽고 짧게 한 줄로 만들 수 있는 파이썬의 문법
# newlist=[어떠한 표현식 for 변수 in 시퀀스 if 조건] [표현식은 그 리스트에 넣고싶은 형태... 를 말하는 것. if condition 은 선택사항.]

numberlist=[x**2 for x in range(10)] #<--x에 0부터 9까지 각각 대입해서 제곱한 것을 각각 요소로 numberlist라는 리스트를 만들어라
numberlist_1=[x**2 for x in range(10) if x%2==0] #<-x에 0부터 9까지 각각 대입해서 제곱하는데, x에 대입된 수가 짝수일 때만 해라. 그것을 리스트로 만들어라.

print(numberlist)
print(numberlist_1)


#문제3: 1부터 10까지의 짝수의 원소를 가진 리스트를 생성
list_a=[i for i in range(11) if i%2==0]
print(list_a)

#문제4: S로 시작하는 도시명으로 리스트를 생성.
#Input : ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
#Output : ['Seoul', 'Shanghai']
citylist=["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
newcitylist=[city for city in citylist if city.startswith("S")]   #newcitylist라는 리스트에 city를 넣어라. citylist에 있는 요소들을 각각 변수 city에 대입하라. 리스트로부터 요소 대입받은 city가 S로 시작할 경우에만 그렇게 하라.
print(newcitylist)

#startswith() <-시작하는 문자를 확인하는 메소드.

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]
[0, 2, 4, 6, 8, 10]
['Seoul', 'Shanghai']

In [42]:
#lambda & map
#lambda는 이름이 없는 익명 함수를 정의할 때 사용. 함수 이름이 없이 그냥 lambda로 쓰는 것.
#lambda 매개변수: 표현(즉, 실행문에 해당)
double=lambda x: x*2
print(double(5))  #이렇게 변수명으로 처리

x=lambda a, b, c: a+b+c
print(x(5,6,2))

#filter: 함수와 순회 가능한 객체를 받아 넘어온 조건 함수를 만족하는 데이터만 찾아서 반환
#filter(함수, 객체) 즉... 객체 중에서 함수 조건을 만족하는 것만 찾아서 반환하는 것,
nums=[1,2,3,4,5,6,7,8,9,10]
odd_nums=list(filter(lambda x: x%2 !=0, nums)) #이 nums라는 객체에 lamda함수를 적용한것만 필터링돼서 리스트로 만듬.



#문제5 lambda 함수를 사용하여 숫자 리스트에서 짝수만 필터링
#numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#Output : [2, 4, 6, 8, 10]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num=list(filter(lambda x: x%2 == 0, numbers))
print(num)   #??????

10
13
[2, 4, 6, 8, 10]

In [49]:
#enumerate: 순회 가능한 객체(리스트 등)을 인덱스와 함께 반환

fruits=['apple', 'banana', 'cherry']
for idx, fruit in enumerate(fruits): #enumerate는 인덱스 번호와 그 요소값을 반환하므로, idx와 fruit라는 변수가 각각 번호와 요소값을 받는다
  print(idx, fruit)

#문제
#Input : ['Python', 'Java', 'JavaScript']
#Output : [(0, 'Python'), (1, 'Java'), (2, 'JavaScript')]

ist=['Python', 'Java', 'JavaScript']
for a, b in enumerate(ist):
  print (a, b)

#문제
#Input : ['Python', 'Java', 'JavaScript']
#Output : [(1, 'Python'), (2, 'Java'), (3, 'JavaScript')]

langs=['Python', 'Java', 'JavaScript']
newlist=[(idx, lang) for idx, lang in enumerate(langs, start=1)] #(idx, lang)의 형태로 리스트 요소 값을 만들어라. idx, lang이라는 변수는 enumerate(langs)로부터 각각 인덱스 번호와 값을 대입받는다. 이 때, start=1이라 하였으므로 인덱스 번호는 1부터 시작한다.
print(newlist)

0 apple
1 banana
2 cherry
0 Python
1 Java
2 JavaScript
[(1, 'Python'), (2, 'Java'), (3, 'JavaScript')]

In [58]:
#map: 함수와 순회 가능한 객체를 받아 ***객체의 각 항목에 함수를 적용한 결과를 반환.***
#map(각 요소에 적용할 함수, 시퀀스)

numbers=[1,2,3,4]
squared=list(map(lambda x: x*2, numbers))
print(squared)


list1=[1,2,3]
list2=[4,5,6]
result=map(lambda x, y: x+y, list1, list2)
print(list(result))


#문제: 학생들의 성적이 숫자 리스트로 표현되어 있고 이를 등급으로 변환
#scores = [88, 92, 78, 60, 75, 95]
#Output : ['B', 'A', 'C', 'D', 'C', 'A']
def convert_to_grade(score):
  if score>=90:
    return 'A'
  elif score>=80:
    return 'B'
  elif score>=70:
    return 'C'
  elif score>=60:
    return 'D'
  else:
    return 'F'

print(convert_to_grade(90))


scores=[88, 92, 78, 60, 75, 95]
new=list(map(convert_to_grade, scores))
print(new)



#문제: 나이 리스트 중에서 18세 이상 나이만 추출
#ages = [5, 12, 17, 18, 24, 32]
#Output : [18, 24, 32]

ages = [5, 12, 17, 18, 24, 32]
new=list(filter(lambda age:age>=18, ages))   #사용자 정의함수를 써도 되지만.. lambda가 간단하고 직관적으로 쓰기 좋다.
print(new)

[2, 4, 6, 8]
[5, 7, 9]
A
['B', 'A', 'C', 'D', 'C', 'A']
[18, 24, 32]

In [ ]:
#시험범위는 여기까지...
필기는 20~25문항 . 플라토 퀴즈처럼 단답, 4지선다. CBT
실기는... 강의PPT 참고하는 것 ㄱㅊ. VScode에서 하고.. OJ에서...OJ의 입출력 방식 맞출 것!!