<a href="https://colab.research.google.com/github/minwoo111111/AI-Python/blob/main/240405.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=3
a+=1  #a=a+1과 같은 뜻
print(a)

4

In [ ]:
a=10
if a>5:
  print("a는 5보다 큽니다.")
print("프로그램 종료")

a는 5보다 큽니다.
프로그램 종료

In [ ]:
a=10
if a>5:
  print("a는 5보다 큽니다.")
elif a<=5:
  print("a는 5보다 작거나 같습니다.")
print("프로그램 종료")

a는 5보다 큽니다.
프로그램 종료

# a에 할당된 값의 짝수 홀수 여부를 알려주는 프로그램

In [ ]:
a=int(input("정수를 입력해주세요"))
if a%2==0:
  print("짝수입니다")
elif a%2==1:   #a%2!==0
  print("홀수입니다")

정수를 입력해주세요-2
짝수입니다

In [ ]:
a=5
if a>5:
  print('a는 5보다 큽니다')
elif a<5:
  print('a는 5보다 작습니다')
else:
  print('a는 5입니다')

a는 5입니다

In [ ]:
a=10
b=5
if a>5:
  if b<10:
    print("a는 5보다 크고, b는 10보다 작다")

a는 5보다 크고, b는 10보다 작다

In [ ]:
a=10
b=5
if a>5 and b<10:
  print("a는 5보다 크고 b는 10보다 작다")

a는 5보다 크고 b는 10보다 작다

#0~100점수를 입력받아서 90점이상 A, 80점이상 B, 70점이상 C, 60점이상 D, 그 외 F

In [ ]:
score=int(input("점수를 입력하세요. (0~100점까지)"))
if score>=90 and score<=100:
  print("A")
elif score<90 and score>=80:
  print("B")
elif score<80 and score>=70:
  print("C")
elif score<70 and score>=60:
  print("D")
elif score>100 or score<0:
  print("올바른 점수를 입력하세요.")
else:
  print("F")

#이렇게 하면 순서 상관 없는데

점수를 입력하세요. (0~100점까지)211
올바른 점수를 입력하세요.

In [ ]:
score=int(input("점수를 입력하세요. (0~100점까지)"))
if score>=90:
  grade="A"
elif score>=80:
  grade="b"
elif score>=70:
  grade="C"
elif score>=60:
  grade="D"
else:
  grade="F"
print(grade)

#이렇게 하면 순서 중요함. 순서 틀리면 출력값 오류 생길 수도

점수를 입력하세요. (0~100점까지)100
A

In [49]:
   #반복문 for
for i in a:
  print(i)
for i in a:
  print(i,end='')  #한줄씩 안 하고 한번에

1
2
3
4
5
123451
2
3
4
5
15

In [54]:
#시퀀스 내의 값을 모두 더하기

a=[1,2,3,4,5]
total=0
for i in a:
  total+=i #total이 0인 상태에서 i에 1, 2, 3, 4, 5가 각각 대입되며 total의 값은 0-->1-->3-->6-->10-->15가 되고
print(total) #최종적으로 15가 된 total이 출력된다.

15

In [59]:
for i in range(1,10,2): #1에서부터 9까지 2씩 증가한 값 범위 생성
  print(i)
for i in range(10): #0에서부터 9까지의 범위 생성
  print(i)
for x in '월화수': #반복범위가 문자인 경우
  print(x)

1
3
5
7
9
0
1
2
3
4
5
6
7
8
9
월
화
수

In [62]:
for i in range(1,11):
  print(i)
for i in range(11): #0부터 10까지 "11번"출력
  print(i)

1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10

#1에서 100사이의 홀수만 출력해보시오

In [65]:
for i in range(1,101,2): #홀수만 출력
  print(i)
for x in range(2, 101, 2):
  print(x) #짝수만 출력

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [68]:
for i in range (1,101): #continue문을 활용해 홀수만 출력하기
  if i%2==0: #짝수면 스킵하고 변수에 다음 수 대입해라
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [69]:
for i in range (5):
  if i%2==1:
    break #홀수면 바로 반복문을 끝내라. --> 변수에 1이 대입되는 순간 반복문 종료.
  print(i)

0

#1에서 10까지의 짝수의 합과 홀수의 합 각각 구하기 (break, continue 쓰지 말고)

In [79]:
홀수합=0
짝수합=0
for i in range (1,11):
  if i%2==1:   #홀수면, 홀수합이라는 변수에 해당 i가 더해진다.
    홀수합+=i
  else:
    짝수합+=i
print(홀수합)
print(짝수합)

25
30

#하나의 숫자 n를 입력 받아서 때, 1부터 n까지 합을 구하는 프로그램을 작성하시오.

In [88]:
n=int(input("숫자를 입력하세요")) #n의 값 입력
total=0
for i in range(1,n+1): #1부터 n까지 반복하려면 (1,n+1). i에는 1부터 n까지의 수가 아래의 코드블록에서 각각 대입된다.
  total+=i #합을 계산
print(total) #합을 출력

숫자를 입력하세요10871245
59091989360635